{{- define "dotenv" -}}
APP_NAME="KV Store"
APP_ENV=production
APP_KEY={{ .Values.envSecrets.APP_KEY | b64dec }}
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST={{ .Values.envVariables.DB_HOST }}
DB_PORT={{ .Values.envVariables.DB_PORT }}
DB_DATABASE={{ .Values.envVariables.DB_DATABASE }}
DB_USERNAME={{ .Values.envVariables.DB_USERNAME }}
DB_PASSWORD={{ .Values.envSecrets.DB_PASSWORD | b64dec }}

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=redis
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST={{ .Values.envVariables.REDIS_HOST }}
REDIS_PASSWORD={{ .Values.envSecrets.REDIS_PASSWORD | b64dec }}
REDIS_PORT={{ .Values.envVariables.REDIS_PORT }}
REDIS_DB={{ .Values.envVariables.REDIS_DB }}

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
{{- end -}}
